#bienvenida {
    background-color: orange;
    border: 2px solid black;
    border-radius: 10px;
    

}

#botonJugar { 
    /*padding-right: 200px;*/
    /*padding-left: 200px;*/
    border: 2px solid black;
    border-radius: 10px;

}
/*#jugar {
    background-color: rgb(0, 213, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: auto;
}*/

#ronda {
    background-color:black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.cuadro {
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
    opacity: 0.4;
}

#cuadro-A {
    background-color: red;
    
   /* animation-name:cambiaropacidad;
    animation-duration: 1.5s;*/

}

#cuadro-B {
    background-color: blue;
}

#cuadro-C {
    background-color: yellow;
}

#cuadro-D {
    background-color: green;
}

@keyframes cambiaropacidad {
    from {
        opacity:0.4;
    }
    to{
        opacity: 1;
    }
}

